<div class="contents row">
  <div class="container">
    <%= form_tag('/tweets', method: :post) do %>
    <!-- form_tagはフォーム画面を簡単に作りたいときに使うヘルパーメソッド。
    form_tag('パス')と記述することでフォームを送信した後のパスを指定できる。
    上記の場合だと送信したとき指定したURL(/tweets)、httpメソッドをpostのパスに飛ぶことができる。
    送られた情報はparamsと呼ばれるハッシュ値でアクションに送られる。 -->
      <h3>
        投稿する
      </h3>
      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>